@{
    ViewData["Title"] = "Home Page";
}

@* @model webapp.ViewComponents.WeatherSummary *@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <vc:weather-summary></vc:weather-summary>
    <vc:products-summary p1="@Model" p2=2000000></vc:products-summary>
</div>
