@{
    ViewData["Title"] = "Home Page";
}

@model webapp.ViewComponents.WeatherSummary

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <vc:weather-summary></vc:weather-summary>
    <vc:products-summary p1="Sofa" p2=20000></vc:products-summary>
</div>
