@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Home Page";
}


<h1>
    @ViewData["Title"]
</h1>

@if (Model!=null)
{
    <h2>@Model</h2>
}

<div class="text-center">
    <h1 class="display-4">Welcome to home</h1>
</div>
