<div style="background-color:yellow; padding:10px; margin: 0 0 10px 0; box-shadow: 0 0 20px;">
    <h1>This is Partial View</h1>
    <p>Name I got using ViewBag: @ViewBag.name</p>
    <p>Age I got using ViewData: @ViewData["age"]</p>
</div>
    