@{
    ViewData["Title"] = "Home Page";
}
@section s1
{
    <p>This is upper section.</p>
}
@section s2
{
    <p>This is lower section</p>
}
@section addNewStyling
{
    <style>
        #stg
        {
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
}

<div id="stg">
    <h1 class="display-4">Welcome</h1>
</div>
