@{
    ViewData["Title"] = "Home Page";
}

<h1>Maximum size allowed is 200 MB.</h1>

<div class="text-center">
    <form method="post" enctype="multipart/form-data" action="/Home/Index">
        
        <label>Upload Your video file: </label>
        <input type="file"  name="postedFiles"/>     <!-- multiple -->
        <input type="submit" Value="Upload file">

    </form>
</div>

<p>@Html.Raw(ViewBag.Message)</p>