@{
    ViewData["Title"] = "Home Page";
}
@section s1
{
    <p>This is upper section.</p>
}
@section s2
{
    <p>This is lower section</p>
}

@* this styling will only be applied on Index View. *@
@section addNewStyling
{
    <style>
        h1
        {
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
}

<div>
    <h1 class="display-4">Welcome to Layout section.</h1>
</div>
